{% extends "base.html" %}
{% load static %} 
{% block title %}Главная{% endblock %}

{% block content %}
<section class="card">
  <h1>Онлайн бронирование футбольного поля (набережная р. Терек, Владикавказ)</h1>
  <p>Выберите удобное время, оплатите онлайн (пока тестовый режим), и получите подтверждение.</p>
  <div class="actions">
    <a class="btn" href="{% url 'booking_create' %}">Забронировать</a>
    <a class="btn btn--ghost" href="{% url 'stream' %}">Смотреть трансляцию</a>
  </div>
</section>

<section class="card">
  <h2>Последние бронирования</h2>
  {% if bookings %}
    <div class="table">
      <div class="table__row table__head">
        <div>Дата</div><div>Время</div><div>Статус</div><div></div>
      </div>
      {% for b in bookings %}
        <div class="table__row">
          <div>{{ b.date }}</div>
          <div>{{ b.start_time }}–{{ b.end_time }}</div>
          <div class="badge badge--{{ b.status }}">{{ b.get_status_display }}</div>
          <div><a href="{% url 'booking_detail' b.id %}">Открыть</a></div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Пока нет бронирований.</p>
  {% endif %}
</section>
<section class="card">
  <h2>Где мы находимся: ул. Колка Кесаева 250</h2>

<div class="map">
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A720d68bf4d68410172c8a865c205a35d10ad7a04b7e1cc09e73aaf64f99bbc4c&amp;source=constructor"
    width="100%"
    height="400"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>
</section>
{% endblock %}
